<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{.Title}}</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/function.js"></script>
</head>

<body>
    <form class="row g-3 needs-validation" method="POST">
        <!-- <div class="header">
            <div class="logo">Logo</div>
            <button type="submit" value="logout" name="action" class="logout btn btn-default" id="logout">Log
                out</button>
            <div class="header-title">
                {{.Title}}
            </div>
        </div> -->
        <div class="container">
            <div class="content-title">
                {{.SubTitle}}
            </div>
            <div class="content-wrapper">
                <div class="welcome-wrapper">
                    <div class="welcome-message">
                        {{.WelcomeMessage}}
                    </div>
                </div>
                <div class="input-group align-item-center justify-between mb-3">
                    <div>
                        <button class="btn btn-add" type="submit" name="action" value="add-user">
                            <img src="/static/img/add.svg" alt="delete" class="icon-add icon">Add a user
                        </button>
                    </div>
                    <div>
                        <div class="dropdown">
                            <a class="" id="actions" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="/static/img/dots.svg" alt="delete" class="icon-dot icon">
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="actions">
                                <li><button type="submit" name="action" value="admit_selected"
                                        class="dropdown-item">Admit Selected</button></li>
                                <li><button type="submit" name="action" value="admit_all" class="dropdown-item">Admit
                                        All</button></li>
                                <li><button type="submit" name="action" value="extend_time" class="dropdown-item">Extend
                                        Time</button></li>
                                <li><button type="submit" name="action" value="remove_selected"
                                        class="dropdown-item">Remove Selected</button></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-users-all-tab" data-bs-toggle="tab"
                            data-bs-target="#users-all" type="button" role="tab" aria-controls="users-all"
                            aria-selected="true">All</button>
                        <button class="nav-link" id="nav-users-waiting" data-bs-toggle="tab"
                            data-bs-target="#users-waiting" type="button" role="tab" aria-controls="users-waiting"
                            aria-selected="false">Waiting</button>
                        <button class="nav-link" id="nav-users-admitted" data-bs-toggle="tab"
                            data-bs-target="#users-admitted" type="button" role="tab" aria-controls="users-admitted"
                            aria-selected="false">Admitted</button>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="users-all" role="tabpanel"
                        aria-labelledby="nav-users-all-tab">
                        {{range $key, $info := .Information}}
                        <div class="user-item align-item-center justify-between">
                            <div class="align-item-center">
                                <input class="form-check-input" type="checkbox" name="selected" value={{$info.Email}}>
                                <div>
                                    <div class="text">{{$info.Name}}</div>
                                    <div class="text">{{$info.Email}}</div>
                                    {{if eq $info.Status "Waiting"}}
                                    <div class="text">{{$info.Status}}...</div>
                                    {{else}}
                                    <div class="text">{{$info.CreatedAt}}</div>
                                    {{end}}
                                </div>
                            </div>
                            <div>
                                <img src="/static/img/chevron-down.svg" alt="delete" class="">
                            </div>
                        </div>
                        {{end}}
                    </div>
                    <div class="tab-pane fade" id="users-waiting" role="tabpanel" aria-labelledby="nav-users-waiting">
                        {{range $key, $info := .Information}}
                        {{if eq $info.Status "Waiting"}}
                        <div class="user-item align-item-center justify-between">
                            <div class="align-item-center">
                                <input class="form-check-input" type="checkbox" value="">
                                <div>
                                    <div class="text">{{$info.Name}}</div>
                                    <div class="text">{{$info.Email}}</div>
                                    <div class="text">{{$info.Status}}...</div>
                                </div>
                            </div>
                        </div>
                        {{end}}
                        {{end}}
                    </div>
                    <div class="tab-pane fade" id="users-admitted" role="tabpanel" aria-labelledby="nav-users-admitted">
                        {{range $key, $info := .Information}}
                        {{if eq $info.Status "Admitted"}}
                        <div class="user-item align-item-center justify-between">
                            <div class="align-item-center">
                                <input class="form-check-input" type="checkbox" value="">
                                <div>
                                    <div class="text">{{$info.Name}}</div>
                                    <div class="text">{{$info.Email}}</div>
                                    <div class="text">{{$info.CreatedAt}}</div>
                                </div>
                            </div>
                        </div>
                        {{end}}
                        {{end}}
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="btn-group">
                <button class="btn-decline btn" id="sponsor-cancel">Cancel</button>
                <button class="btn-accept btn">Save</button>
            </div>
        </div>
    </form>
</body>

</html>